# Backend Configuration
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=library_db
ALLOWED_ORIGINS=http://localhost:5173,https://hausbibliothek.org

# Frontend Configuration
VITE_API_URL=http://localhost:8080
