:80 {
    root * /usr/share/caddy

    # Proxy API requests to the backend
    handle /api/* {
        reverse_proxy backend:80
    }

    # Proxy upload requests to the backend
    handle /uploads/* {
        reverse_proxy backend:80
    }

    # Fallback to index.html for Single Page App routing
    handle {
        try_files {path} /index.html
        file_server
    }
}

hausbibliothek.org {
    root * /usr/share/caddy

    # Proxy API requests to the backend
    handle /api/* {
        reverse_proxy backend:80
    }

    # Proxy upload requests to the backend
    handle /uploads/* {
        reverse_proxy backend:80
    }

    # Fallback to index.html for Single Page App routing
    handle {
        try_files {path} /index.html
        file_server
    }
}
